@model CarRentProjectCore.Models.RentAssign.RentAssignViewModel
@{
    ViewData["Title"] = "Rent Assign Details";
}

<h1>Details of Rent Assign</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentAssignDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentAssignDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentRequest.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
