@model IEnumerable<CarRentProjectCore.Models.RentRequest.RentRequestViewModel>

@{
    ViewData["Title"] = "List of Rent Request";
}


<div class="row">
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>

    <table id="example" class="table table-bordered table-striped table-hover">
        <thead class="text-center">
            <tr>
                <th>
                    SL
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromPlace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToPlace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleQty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AirCondition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @{
                var sl = 0;

            }
            @foreach (var item in Model)
            {
                sl++;
                <tr>
                    <td>
                        @sl
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromPlace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToPlace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirCondition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.Name)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <thead class="text-center">
            <tr>
                <th>
                    SL
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromPlace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToPlace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleQty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AirCondition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
    {

    <script src="~/project Script/projectScript.js"></script>
}
