@model IEnumerable<CarRentProjectCore.Models.VehicleType.VehicleTypeViewModel>

@{
    ViewData["Title"] = "List Of Vehicle";
}

<h1>List of Vehicle </h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table id="example" class="table table-bordered table-hover table-striped">
    <thead class="text-center">
        <tr>
            <th>
                SL
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            var sl = 0;
        }
        @foreach (var item in Model)
        {
            sl++;
            <tr>
                <td>
                    @sl
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <thead class="text-center">
        <tr>
            <th>
                SL
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
</table>
@section scripts
{
    <script src="~/project Script/projectScript.js"></script>
}